@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/css/font.css';

:root {
	letter-spacing: 0;
	font-size: 14px;
	line-height: 18px;

	color-scheme: light dark;
	color: #354052;
	background-color: #f3f3f3;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-ThinIt.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-ThinIt.otf') format('opentype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-Thin.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-Light.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-Light.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-LightIt.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-LightIt.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-RegIt.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-RegIt.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-Reg.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-Reg.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-Sbold.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-Sbold.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-Sbold.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-SboldIt.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-BoldIt.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-BoldIt.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-Xbold.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-Xbold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-XboldIt.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-XboldIt.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-Black.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-Black.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./assets/fonts/ProximaNova/ProximaNova-BlackIt.woff') format('woff'), url('./assets/fonts/ProximaNova/ProximaNova-BlackIt.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
}
